[flexbox] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

[flex] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

[flex-center] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[flex-end] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.page-wrapper-instock .ibox-title {
  padding: 0 12px; }

.page-wrapper-instock .miboxcontent {
  top: inherit; }

.page-wrapper-instock .el-form--inline .el-form-item__label {
  width: 80px; }

.page-wrapper-instock .my-upload {
  display: inline-block;
  padding: 6px 12px; }
  .page-wrapper-instock .my-upload input {
    display: none; }
